* {

    font-family: 'Source Sans Pro', sans-serif;
    color: #070707;
}

body {
    background-color: #7d8ca3;
    background-image: url('../images/logoBg.png');
}


.jumboTitle {
    color: #edeeef;
}

.jumbotron {
    margin-top: 20px;
    background-color: #070707;
    /*background-image: url("../images/guinness.jpg");*/

}
h1 {
    color: #edeeef;
}


.panel-heading {
    background-color: #070707;
    border-color: #070707;
    color: #edeeef;
}

#quiz {
    height: 800px;
    overflow-y: scroll;
}